<!DOCTYPE html>
<html>
<head>
    <title>Text Toxicity Analyzer</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Text Toxicity Analyzer</h1>
        
        <form action="/sort-lyrics" method="post">
            <div class="form-group">
                <label for="lyrics">Enter Text:</label>
                <textarea class="form-control" name="lyrics" rows="10" placeholder="Enter Text here"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>
    </div>
    
    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
